{
  "presets": [
    ["env", {
      "targets": {
        "node": 4.3
      }
    }]
  ],
  "plugins": [
    ["typecheck", {
      "disable": {
        "production": true
      }
    }],
    "syntax-flow",
    "transform-flow-strip-types"
  ]
}
